<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WMS - Cadastro de Usuário</title>
</head>
<body>
    <h1>Criar Nova Conta</h1>

    <!-- Mensagem de erro -->
    <div th:if="${erro}" style="color:red">
        <p th:text="${erro}"></p>
    </div>

    <form th:action="@{/cadastro/salvar}" method="post">
        <label>Nome Completo:</label>
        <input type="text" name="nome" required>
        <br><br>

        <label>Login (usuário):</label>
        <input type="text" name="login" required>
        <br><br>

        <label>Senha:</label>
        <input type="password" name="senha" required>
        <br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="/login">Já tem conta? Faça o Login</a>
</body>
</html>